[2015-11-20 08:03] calmyournerves opened #1 "Default locale"
Hi there,
thanks for this plugin! I was wondering if it's possible to define a default locale or if you have plans to implement something like that. Or are there other ways to manage that?

Cheers!

[2015-11-20 09:48] vwochnik commented on #1
Well what do you imagine under a 'default locale'? Do you want one 'default' language that does not render inside a `/:language` subdirectory but rather directly inside the destination directory? That's currently not possible and I do not plan on implementing that since that is breaking the directory structure and you can easily fix that with a page redirect.

Is a page redirect to a 'default loca

[2015-11-20 11:25] vwochnik commented on #1
I have implemented automatic language redirect for the example page. Check out the commit 27e6c422c7b7a68f86874c83ffabd8e1c65f7b82.

[2015-11-20 15:19] calmyournerves commented on #1
A default that does not render inside a subdirectory is what I thought about. I know there are other ways to do, but I wanted to know what your thoughts are about it. Thanks for the example and the explanation!

[2015-12-09 10:55] escapedcat opened #2 "Question: Differences to existing jekyll-multiple-languages-plugin?"
I was just checking on how to do multilang pages with Jekyll and stumbled across different approaches and plugins.

Could you point out main differences to this plugin?:
https://github.com/screeninteraction/jekyll-multiple-languages-plugin
(The PR to support v3 will be merged soon)

Is it mainly this?

Sorry if this is not the right place to ask, but I thought it could be interesting for others as

[2015-12-09 12:36] vwochnik commented on #2
No! [`jekyll-multiple-languages-plugin`](https://github.com/screeninteraction/jekyll-multiple-languages-plugin) is a very simplistic plugin composed of a few Liquid tags providing translation of strings and internationalized includes.

[`jekyll-language-plugin`](https://github.com/vwochnik/jekyll-language-plugin) is much more then just a `translation` and an internationalized `include` tag, althou

[2015-12-09 12:43] escapedcat commented on #2
Thanks for the fast reply! Will do. I just wanted to ask before I start looking closer into it.

[2015-12-09 13:19] vwochnik commented on #2
I reckon you'll like it if you're about to develop a multilingual site. If you have further questions, just open another issue. But I think the example site is very insightful.

[2015-12-09 13:20] #2 closed, assigned to vwochnik

[2015-12-09 13:23] vwochnik commented on #2
Beware, I have just updated the example site plugin dependency from version `1.1.6` which was broken to version `1.1.7`. So if you have already checked out the repository, just make a `git pull`.

[2015-12-09 13:26] escapedcat opened #3 "Example: bundle install"
The example relies on 1.1.6. so I get:

[code]

After changing it to 1.1.7 it works fine.

[2015-12-09 13:30] vwochnik commented on #3
Thanks for the heads-up. Version `1.1.6` was yanked because it was broken. I have forgotten to update the `Gemfile` to version `1.1.7`. Fixed.

[2015-12-09 13:30] #3 closed, assigned to vwochnik

[2015-12-09 13:36] escapedcat commented on #3
:+1:

[2015-12-09 14:39] vwochnik commented on #3
@escapedcat how do you like the example? Would you suggest theming the site to make it more appealing or do you think that a bare-bone site is more illustrative on how to use the plugin?

[2015-12-09 14:55] escapedcat commented on #3
Hey, good question.

I think barebone is totally fine. No need for styling.
I was just trying to add some **main** pages, not posts. So things like **about**, **contact**, **projects** for example.
If I want to _translate_ the URLs as well I find myself creating one file each with the same content, but different language option. Like:

**about.md**

[code]

and

**ueberuns.md**

[code]

Not sure i

[2015-12-09 15:47] vwochnik commented on #3
Ok, fair enough. I, however, would not rely on language-specific URLs. Just go with one `about.md` for English and German and then use a `tinclude` like you already do. Look into the [`default`](https://github.com/vwochnik/jekyll-language-plugin/blob/master/example/_layouts/default.html#L9-L13) layout where you can see the alternative language references inside the `head` tag. If you are using dif

[2015-12-09 15:52] escapedcat commented on #3
Oh, I see. Didn't see that. Thanks. Will check.

[2015-12-09 15:56] escapedcat commented on #3
How to set a different page title in that case?

[2015-12-09 16:03] vwochnik commented on #3
I have created an `about.md` page. See 0d15df675d7c2df1309bb6047d5399f534a3b116.

[2015-12-09 16:04] vwochnik commented on #3
The page title is the `title` key in the page's `subset` of the language being rendered. Look into the bespoke `default` layout.

[2015-12-09 16:06] escapedcat commented on #3
Awesome, thanks!

[2015-12-09 17:07] escapedcat opened #4 "Create a list of pages"
How could I get a list of pages and use the translated title form the subset?

Here the idea form the Jekyll example page:
https://github.com/jekyll/example/blob/gh-pages/_includes/header.html#L15-L21

Basically I would like to create some sort of navigation.
I'm not sure how to achieve something like this. Looks like I can't get the title through this:

[code]

Also my non existent ruby skills do

[2015-12-09 17:58] vwochnik commented on #4
You can do this exactly the way you want except that you have to check if the language is equal to the currently rendered language.

[code]

I have changed the local `page` variable into `page2` to retain access to the currently rendered `page`. Also, we are using the title from the page subset.

[2015-12-09 18:07] #4 closed, assigned to vwochnik

[2015-12-09 21:18] vwochnik commented on #4
I have improved the example site and [included](https://github.com/vwochnik/jekyll-language-plugin/blob/master/example/_includes/site-header.html) the above snippet with an option to disable the navigation entry for a given page.

[2015-12-10 10:48] escapedcat commented on #4
That helped me a lot. Thanks for your support! :relaxed:

[2015-12-11 12:03] escapedcat opened #5 "SEO improvements for generated URLs (filename/permalink)"
As you told [here, the created filename is based on the name of the file I create in the root folder of the project](https://github.com/vwochnik/jekyll-language-plugin/issues/3#issuecomment-163298564).

For example **about.html** will create:
`/en/about.html`
`/de/about.html`

Form an SEO point of view this would be nicer if the generated file could use a _slug_ from the lang _subset_.

For a simp

[2015-12-11 14:32] vwochnik commented on #5
@escapedcat you are correct. Source file names are being used for destination file names, just as the standard Jekyll would. [This class](https://github.com/vwochnik/jekyll-language-plugin/blob/master/lib/jekyll/language_page.rb) simply prepends the language prefix to the URL by changing the URL template and making a `:language` placeholder available which could even be used in permalinks. From my

[2015-12-11 16:29] escapedcat commented on #5
That's a misunderstanding.
My two example pages should be the same page, but with a different name.
Better example maybe would be:
`/en/best-sound-with-sony.html`
`/de/bester-klang-dank-sony.html`

In this case it would be important that _sound_ and _sony_ are recognised by search-engines in the correct language context.

Or regarding to my other example:
`/en/hauskeeping-in-germany.html`
`/de/hau

[2015-12-11 16:35] vwochnik commented on #5
Well, I'm already working on a solution. If a page or a post has a `subset` and a `language` defined upon initialization, the url placeholders will be extended by the language subset where each key is prepended by `t.`. So if you have a `slug` key within that language subset, you can access that in your permalink by `:t.slug`. It's not finished yet but I hope I can bring that.

[2015-12-11 16:41] escapedcat commented on #5
Dude, you're awesome!
I feel pretty embarrassed asking you for all this stuff already...

[2015-12-11 17:44] vwochnik commented on #5
Currently it is not working. But it later may work in a future version.

[2015-12-11 17:56] vwochnik commented on #5
Anyways, you can always ask. If you have any further ideas of improvements, don't hesitate! How do you like it so far?

[2015-12-11 20:56] vwochnik commented on #5
Feature is implemented b29f9882ee8cbbbe775e24f447f8c9c5f863f076.

Add this to your page front-matter you want to have translated URLs:

[code]

And then add a `slug` key to the page subset for every translation. Look [here](https://github.com/vwochnik/jekyll-language-plugin/wiki/YAML-front-matter).

[2015-12-11 20:56] #5 closed, assigned to vwochnik

[2015-12-12 16:19] vwochnik opened #6 "[deleted]"

[2015-12-12 16:19] Anthony-Gaudino opened #7 "Unifying languages plugins"
Hi @vwochnik,

there's other language plugins for Jekyll around, and maybe you may want to unify them into a better plugin.

Here's the other plugins you may be interested in:
- [jekyll-multiple-languages](https://github.com/liaohuqiu/jekyll-multiple-languages) (Might not work with Jekyll 3)
- [polyglot](https://github.com/untra/polyglot)
- [jekyll-multiple-languages-plugin](https://github.com/scr

[2015-12-12 16:22] vwochnik commented on #7
I've seen them and IMO this plugin far outperforms the plugins you have named. If you have any feature request, please open another issue.

[2015-12-12 16:22] #7 closed, assigned to vwochnik

[2015-12-12 16:35] Anthony-Gaudino commented on #7
@vwochnik thanks for the fast reply!

I agree that your plugin is great, but there's some features on the [Polyglot](https://github.com/untra/polyglot) plugin that your plugin don't have, for example, automatic url relativization.

[2015-12-12 16:38] vwochnik commented on #7
I haven't looked at it in great detail I admit. Please make an example of _automatic url relativization_.

[2015-12-12 16:48] Anthony-Gaudino commented on #7
From the Polyglot README.md:

#### Relativized Local Urls

No need to meticulously manage anchor tags to link to your correct language. Polyglot modifies how pages get written to the site so your _french_ links keep vistors on your _french_ blog.

[code]

becomes

[code]

Voila!

Even if you are falling back to `default_lang` page, relative links built on the _french_ site will
still link to _fren

[2015-12-12 16:56] vwochnik commented on #7
My plugin does not modify `Jekyll::Site` in order to achieve multithreading and it won't since that would be too complex and the implementation of polyglot is entirely different then mine.

Concerning relative URLs: Jekyll 3.0 dropped support for relative permalinks. However, you can just use relative links in your HTML and it will work. Read the wiki page about [URLs and permalinks](https://githu

[2015-12-12 17:08] Anthony-Gaudino commented on #7
Thank you for the info @vwochnik.

I really like that you are working hard on this plugin.

I think I will use it in a project I'm working on and when finished you will be able to add it as an example website using your plugin.

Cheers!

[2015-12-12 17:14] vwochnik commented on #7
@Anthony-Gaudino Thank you! Look into the example site I have provided first.

[2015-12-12 17:58] Anthony-Gaudino opened #8 "Provide pre-translated strings"
How do you like it if I create YAML files containing translated dates, translated language names and maybe other things for most languages?

[Rails-i18n](https://github.com/svenfuchs/rails-i18n/tree/master/rails/locale) provide files with translations for dates and other things.

You will be able to include the files on the plugin or make it available to users, so they can use on their websites.

[2015-12-12 18:35] vwochnik commented on #8
This looks interesting but it defies the simplicity and flexibility of the plugin. For instance, what about users having a language called `english` instead of `en` or `en-US` or `en_US`. This is all not defined within the plugin.

This is what I would suggest instead: If the `i18n-rails` gem is present, dynamically load the date and language translations into the plugin. This would make it very m

[2015-12-12 19:08] vwochnik commented on #8
I have looked at it more extensively and the `rails-i18n` package does not provide any language names. The only thing I can extract are date formats and day and month names.

[2015-12-12 22:37] vwochnik commented on #8
I have just abstracted the data processing in the plugin and added a loader for `rails-i18n`. Upgrade to version `1.2.0` and include `rails-i18n` in your `Gemfile`. You have all dates available.

[2015-12-12 22:37] #8 closed, assigned to vwochnik

[2015-12-13 01:08] Anthony-Gaudino commented on #8
Wow!

I tough would help you on this, but you just nailed it.

---

I was looking for an alternative for the languages names and found two gems that are specialized in this:
- https://github.com/grosser/i18n_data - Can translate any country or language name to any language.
- https://github.com/keram/i18n-iso639matrix - Can translate any language name to any language.

[2015-12-13 12:36] vwochnik commented on #8
I'll see if I can add another loader for this. This is really awesome. I will probably fine-tune the loader-coding and then add documentation on how one can add another customized loader. Here's the [rails-i18n-loader][1].

[1]: https://github.com/vwochnik/jekyll-language-plugin/blob/master/lib/jekyll/language-plugin/loaders/rails_i18n_loader.rb

[2015-12-13 18:11] vwochnik commented on #8
Language names and dates are now built-in.

[2015-12-13 19:03] Anthony-Gaudino commented on #8
Nice, I think that adding the languages on the plugin is great, and it's much more simple than having to load it from other gems.

Why didn't you said you wanted to add the language files? I could have helped you.

Can I add the other languages or are you already working on it?

[2015-12-13 20:04] vwochnik commented on #8
I have written a [script](https://github.com/vwochnik/jekyll-language-plugin/blob/scripts/import_languages.rb) that imports the languages from the gems you have listed above. The script only imports languages where all data can be extracted from the gems. `rails-i18n` only provides the language name in one language. `i18n-iso639matrix` provides language name translations.

Which languages do you w

[2015-12-13 20:19] Anthony-Gaudino commented on #8
OK, so you used the script to generate all those 27 language files.

Since you are embedding the translations into the plugin it won't require the other gems, right?

[2015-12-13 20:26] vwochnik commented on #8
Exactly. I have only chosen those few languages because I wanted the data to be as complete as possible for every language.

Btw, what other translations did you mean when you said _other interesting strings_? I have looked at relative time but IMO for a static site that does not make any sense.

[2015-12-13 20:44] Anthony-Gaudino commented on #8
I meant something that could be useful, for example, units or currency.

Unfortunately those gems don't have all strings translated, so some of them will come as English.

[2015-12-13 20:51] vwochnik commented on #8
That's why I will leave the data as it is for now. If you want to, you can add more translations for your own site. You can even add your own loader (but it is not documented yet). Look at [`Jekyll::LanguagePlugin::Loaders::BuildinDataLoader`](https://github.com/vwochnik/jekyll-language-plugin/blob/master/lib/jekyll/language-plugin/loaders/builtin_data_loader.rb).

[2015-12-13 20:58] Anthony-Gaudino commented on #8
Ok, I will try to add as many languages I can and then I will open a pull request when I'm done.

[2015-12-13 21:04] vwochnik commented on #8
Make sure that you add the additional language names to all existing languages then. Also, please restrict yourself to ISO369-1 two-letter language codes only.

[2015-12-13 21:06] Anthony-Gaudino commented on #8
OK.

[2015-12-13 22:01] vwochnik commented on #8
Please make your changes in a new branch.

[2015-12-13 22:14] Anthony-Gaudino commented on #8
Sure.

[2015-12-14 14:22] escapedcat commented on #5
Sorry for the late reply.
Works great, thanks for your efforts!

[2015-12-19 12:59] #6 closed, assigned to nobody

[2015-12-26 21:59] lordnynex commented on #1
Hello! Sorry to resurrect a closed issue but I think this issue could use some further thought. This plugin does a _very good_ job of implementing localization. I'm glad I found it.

Unfortunately a javascript redirect to a default language is considered sub-optimal in my case. For an opensource project our default language is English and we are attempting to support multiple languages going forwa

[2015-12-26 22:17] lordnynex opened #11 "Logging enhancement"
I'm trying to switch from jekyll-multiple-languages-plugin, but I keep receiving a build exception.

[code]

I have no idea where the issue is and I'm spending a lot of time doing trial and error changes to try and fix it. It would be better if this exception was more specific about where the issue is so I can fix it and move on with my day.

[2015-12-27 08:53] vwochnik commented on #1
The exception is being triggered because you probably removed the `language` YAML front-matter from one of the pages of the example site. That is of course not working since the [`skeleton`](https://github.com/vwochnik/jekyll-language-plugin/blob/master/example/_layouts/skeleton.html#L3) layout requires a page or post to have a language.

What you want is a `language_default` setting which directs

[2015-12-27 08:56] vwochnik commented on #11
Well, you can always `--trace`, then you get a more detailed exception. However, I think like I have said in #1, the issue probably is that you have omitted that `language` YAML front-matter setting. The example site is built such that every page or post must have a language setting. Otherwise `page.language` is not defined and liquid throws an exception.

[2016-01-20 10:24] mbmasuda opened #12 "Duplicate posts are listed"
In `jekyll-language-plugin/example/index.html` there is the following code:

[code]

When rendered on my system, the `Welcome to Jekyll!` post is displayed twice on both the English and German pages.  On the German page, the `Willkommen bei Jekyll!` post is displayed once.

I am using Jekyll 3.0.0 on Mac OS X El Capitan 10.11.2 (15C50).

Thank you.

[2016-01-20 13:40] vwochnik commented on #12
It is intended that way. The `Welcome to Jekyll` post is listed in both English and German.

[2016-01-20 17:05] mbmasuda commented on #12
Thanks for the fast response.  I saw that there is an English version and a German version.  But on the English page, the link goes to the `/en/` version twice, and on the German page, the link goes to the `/de/` version twice.

When I print out the content of `site.posts`, I see that each post is listed twice:

[code]

produces

[code]

I am brand new to Jekyll, so maybe I am misunderstanding how

[2016-01-20 17:15] vwochnik commented on #12
This is intended as the page layout is rendered once in English and once in German regardless if the content is in the same language.

The plugin is built in such a way that pages or posts listed for multiple languages are rendered for each language seperately.

[2016-01-22 13:13] vwochnik commented on #12
I am very sorry. I have been able to reproduce the bug and you are indeed correct. While the English post is listed twice, there is only one file for the German translation. I have already made a fix 02baa82.

[2016-01-22 13:13] #12 closed, assigned to vwochnik

[2016-02-18 13:15] Anthony-Gaudino opened #13 "Better localization strings source"
Hi @vwochnik,

Since the currently provided language translations are incomplete, have duplicates and errors, I believe you may be interested in using the CLDR library (http://cldr.unicode.org), it has a much more complete and correct localization data, which includes not only translation of languages, but countries, dates and much more.

CLDR is used by Google, Microsoft and many others, so you k

[2016-02-18 19:12] vwochnik commented on #13
You were not satisfied with my limited but complete language set. You made one. Now you say it isn't good enough but I should write another script for that. Why don't you do it? I have a script on the `scripts` branch doing just that but with different sources.

[2016-02-18 19:37] Anthony-Gaudino commented on #13
Sorry @vwochnik, I'm not complaining, it's just that I know you were not satisfied with the translations I provided and I agree that they are not good enough, and the ones available on those gems from where you was getting the data were not great too.

Yes, you're right, you already did a great job on the plugin, I will get the data for you :)

[2016-02-18 21:24] vwochnik commented on #13
Thanks. Any help is very much appreciated.

[2016-02-19 23:31] omostepaniuk opened #14 "Work together with Jekyll Pagination plugin"
Hi,

Is it possible to use jekyll-language-plugin in conjunction with Jekyll's pagination functionality to have links like the following:

`/en/blog/`
`/en/blog/page2/`
`/ru/blog/`
`/ru/blog/page2/`

[2016-02-20 09:23] vwochnik commented on #11
As of Jekyll `3.1.2`, this is solved out of the box. However, this plugin does not yet work with that version of Jekyll.

[2016-02-20 09:23] #11 closed, assigned to nobody

[2016-02-20 09:25] vwochnik opened #15 "Not working with Jekyll 3.1.2"
As of yesterday, this plugin no longer works with the most current version of Jekyll, `3.1.2`. There are some changes in the code base that makes this plugin crash.

[2016-02-20 10:49] vwochnik commented on #15
works now

[2016-02-20 10:49] #15 closed, assigned to vwochnik

[2016-02-20 11:06] vwochnik commented on #14
Have you tried this already? If so, can I see the repository? Then I don't have to make up anything from scratch.

[2016-02-20 13:22] omostepaniuk commented on #14
Hi @vwochnik

I've pushed a simple setup that I used myself to try out jekyll-language-plugin, [here it is](https://github.com/omostepaniuk/jekyll3-language-plugin-pagination). Basically, it contains a few posts in english and a couple of ones in russian. Jekyll pagination has been configured according to this documentation [chapter](http://jekyllrb.com/docs/pagination/#enable-pagination).

I set

[2016-02-20 13:25] vwochnik commented on #14
The reason this will probably not work out at all is that my plugin diversifies pages and posts before any generator is ran. Also, since you have to define a pagination template and that template is diversified into the English and Russion version before `jekyll-paginate` is ran, at least one of those is not rendered.

Instead of pagination, I recommend a blog `index.html` page with say top 10 pos

[2016-02-20 13:32] #14 closed, assigned to nobody

[2016-02-20 14:22] omostepaniuk commented on #14
Ok, I got your point.
Thank you

[2016-03-08 00:46] ghost opened #16 "Build error"
Hello all,

I am sorry but I work with the last version of Jekyll and I still got error on a build:

`/Library/Ruby/Gems/2.0.0/gems/bundler-1.11.2/lib/bundler/runtime.rb:80:in`rescue in block (2 levels) in require': There was an error while trying to load the gem 'jekyll-language-plugin'. (Bundler::GemRequireError)
    from /Library/Ruby/Gems/2.0.0/gems/bundler-1.11.2/lib/bundler/runtime.rb:76:in

[2016-03-08 09:44] vwochnik commented on #16
The current build of the `jekyll-language-plugin` requires `jekyll` version `3.1.2`, not `3.0.3`.

Here is an improved [`Gemfile`](https://github.com/vwochnik/jekyll-language-plugin/blob/master/example/Gemfile). You can also check out the example site completely to get an idea on how the plugin is working.

[2016-03-08 17:25] ghost commented on #16
Thanks, but trying to resolved this problem I get another, nothing works now (I got two version of Jekyll, so I deleted both and reinstall the one).

When I launch the gulp command, the destination folder stay empty.

And I have this message log:
`bundler: command not found: jekyll
Install missing gem executables with "bundle install"`

Problem is when I use bundle install, everything looks ok.

M

[2016-03-08 17:33] vwochnik commented on #16
No, this doesn't work this way. Bundler is used for managing project-related dependencies. This means that you have your system- and user-wide ruby gems directory as you probably know.

Then, you have Bundler. It is essentially like `npm` or `bower` if you are coming from there. Bundler installs gems to your local project directory to avoid just the scenario you have described. This allows you to

[2016-04-04 05:14] git-no opened #17 "markdownify"
It seems to me command `t` and also `tinclude` do not format/print data as markdown, the text is printed always as raw data including markdown signs, e.g.

`{% t 'key_with_markdown_string_behind %}`

or

`{% tinclude filename.md %}`

Printing markdown can be accomplished with Liquid in general like so:
`{{ string_including_markdown | markdownify }}`

Does and how support  `t`or `tinclude` the outp

[2016-04-04 07:00] vwochnik commented on #17
Currently, using `capture` is the only way of doing this as far as I know. You can always `tinclude` something within a markdown file and it gets parsed but as soon as you are within a `liquid` template, you have to use `capture` and `markdownify`. But hey, that's the same the regular `include` works, right?

IMO, there is not a huge potential to implement this. I cannot imagine a use case for thi

[2016-04-04 08:32] git-no commented on #17
Thank you for the quick response time.

For `t`I would agree to use capture. But I would assume for `tinclude` there is a bigger use case to print formated markdown. Also in your example (included in the repo) are a file about.md included by `tincluded' but not parsed as markdown. What sense does it make to include a markdown file but print this as raw and not formatted? I would assume by includin

[2016-04-04 10:14] vwochnik commented on #17
How do you know the markdown included from the `about.md` isn't rendered? When you include from `.html` files, that certainly is the case without `capture` and `markdownify` but `.md` files should work just fine.

`tinclude` extends the `jekyll` `include` directive and I will not make any adaptions to that feature of this plugin since it is kept as simple and streamlined as possible.

[2016-04-04 10:14] #17 closed, assigned to nobody

[2016-04-12 14:47] equinusocio opened #18 "Default language"
Hi, thanks for this awesome plugin. There is a way to set a default language? i want to have a `lang` subfolder only for the other languages. Example with this languages `languages: ['en', 'de', 'fr']` i want this output

[code]

instead of

[code]

[2016-04-12 14:51] equinusocio commented on #18
Duplicate of #1

[2016-04-12 14:51] #18 closed, assigned to nobody

[2016-04-12 14:52] equinusocio commented on #1
:+1:  for this.. any suggestion? There is no sense adding a language slug on each default language url.

[2016-04-15 04:05] git-no commented on #16
Having trouble with OS X El Capitan?
Maybe this helps: [Jekyll & Mac OS X 10.11](https://jekyllrb.com/docs/troubleshooting/#jekyll-amp-mac-os-x-1011)

[2016-04-17 18:14] git-no opened #19 "Default permalink language not working for collections"
The permalink language setting does not work with **collections**,

Scenario a.) default permalink is set in _config.yml

[code]

`jekyll b`quits with an error

[code]

Scenario b) permalink in each file - it works when the permalink is set in each collection **file** in the YAML (which is additional work).

[2016-04-17 18:21] vwochnik commented on #19
Well, are you sure the current version of my plugin is loaded? I've extended the `UrlDrop` to `LanguageUrlDrop` for this to work as I have had a similar use case in one of my projects.

[2016-04-17 19:53] git-no commented on #19
Ja, da in Gemfile.lock steht der Eintrag `jekyll-language-plugin (1.3.2)`.
Habe es erst vor einer Woche installiert. Und in language_document.rb und language_url_drop.rb steht auch LanguageUrlDrop.

Mir ist noch aufgefallen, subset wird auch nicht aus default values in config übernommen.

[2016-04-18 04:47] git-no commented on #19
The error with collections can be reproduced. I created a small Jekyll repo for testing posts, pages, collections. I send the repo attached to this issue:
[language-test.zip](https://github.com/vwochnik/jekyll-language-plugin/files/223089/language-test.zip)

In the homepage at the footer are the links to en,de posts, pages, collections.
For collection `jekyll s` outputs the error

[code]

**but su

[2016-04-20 18:25] git-no commented on #19
I'd like to ask, was my Jekyll repo I sent to you helpful?

It seems to me it is **not** about `LanguageUrlDrop` you mentioned. The described error message appears when `/:language`is set in permalink in _config.yml of the collection default.
But the error appears when `/:language`is set instead within the collection .html or .md file. That is strange. What do you think?

[2016-04-20 18:50] vwochnik commented on #19
Remove the `/:language` from your `_config.yml`.

[code]

The reason this works is because `/:language` is being prepended inside the extended `LanguageDocument`.

[2016-04-20 18:51] #19 closed, assigned to nobody

[2016-04-21 08:45] git-no commented on #19
Just for protocol: this is not a working solution.
Yes, the permalink is be pretended by ```:language```, but following the solution Jekyll still does not create language directories in for categories within _site folder. This behaviour is something can be tested and reproduced.

[2016-05-04 09:35] johnliao52 opened #20 "cannot work in github repository"
I clone the project and upload files in example directory as a github repository to my github account.
But got the following error:

The page build failed with the following error:

The tag `t` on line 4 in `_layouts/post.html` is not a recognized Liquid tag. For more information, see https://help.github.com/articles/page-build-failed-unknown-tag-error.

GitHub Pages was recently upgraded to Jekyl

[2016-05-04 11:59] vwochnik commented on #20
This is expected. You have to build the project locally and then only commit the `_site` directory to the `gh-pages` branch. I have done this. See the [vincentwochnik.com](https://github.com/vwochnik/vincentwochnik.com) repository containing a [deploy script](https://github.com/vwochnik/vincentwochnik.com/blob/master/.deploy-script.sh) called by [`jekyll-deploy`](https://github.com/vwochnik/jekyll

[2016-05-04 11:59] #20 closed, assigned to nobody

[2016-05-04 21:48] johnliao52 commented on #20
May I ask what is the reason why jekyll github cannot recognize tag 't'?

[2016-05-05 12:15] vwochnik commented on #20
The build process utilized by GitHub Pages does not allow other plugins then those built into it. Thus, the plugin I develop including its `t` tag is not supported.

[2016-07-30 06:04] git-no opened #21 "tinclude error with Jekyll 3.2"
`tinclude` does not work with the latest Jekyll version (3.2). **Jekyll can not build the site and breaks with an error** -> show stopper.

Liquid Exception: Could not locate the included file 'about.md' in any of ["/Users/me/Downloads/jekyll-language-plugin-master/example/_includes"]. Ensure it exists in one of those directories and, if it is a symlink, does not point outside your site source. in

[2016-07-30 06:53] git-no commented on #1
@calmyournerves
Well, if you are looking for a **fallback language** you can achieve this with **markdown standard**.
I did this, I have on lang.yml with multiple translations but not every language has a translation (just to reduce redundant data) and still Jekyll works. The trick is to use links. Here is a snippet of my lang.yml file:

[code]

Result: the Swiss site (chde) inherits the translati

[2016-08-21 21:05] #21 closed, assigned to nobody

[2016-12-14 22:42] marzsv opened #22 "Post with no language error"
When I have a post without a the language key defined in the front-matter, my site stops working properly. e.g.: when I try to list all my posts titles it only shows me **one** of my posts, the one **without** language in the front-matter.

Is this the intended behavior ? Do I have to define a language for every post or maybe I should use defaults?

[2016-12-15 03:23] escapedcat commented on #22
Maybe this helps: https://github.com/vwochnik/jekyll-language-plugin/issues/1

[2016-12-15 06:10] marzsv commented on #22
Thanks @escapedcat 👍  , that issue is some how related to what I'm saying in the issue description. But my issue/question is more related to the *error* that happens when a post has no language key in the front-matter.

[2017-02-12 09:50] karstenBriksoft opened #23 "native language names"
It appears the only way to print a language is using {% tl language %}
While it may seem reasonable to do that it actually requires the visitor of a webpage to understand the language he's on. A chinese visitor on an english page needs to know that "Chinese" refers to his language. It would really help if there was a tln (translate language native) tag that renders "de" as Deutsch and "en" as Engl

[2017-02-13 12:06] vwochnik commented on #23
I have merged your pull request and released version 1.3.4.

[2017-02-13 12:06] #23 closed, assigned to nobody

[2017-02-16 20:02] trevoriancox opened #25 "The hreflang headers in the example are incorrect."
The example website's hreflang headers will be ignored by Google and will not pass an hreflang test (e.g. https://technicalseo.com/seo-tools/hreflang/ ). This is simply because self-referencing headers are required but the sample has deliberately excluded them:

Incorrect:

    {% for language in page.languages %}
      {% if page.language != language %}
        <link rel="alternate" hreflang="{{

[2017-02-17 15:54] #25 closed, assigned to nobody

[2017-05-03 05:38] kropsi opened #28 "Conditional translations - possible?"
Is there a way to detect if the translation string exists:

[code]

Is there a way to assign a translated string to a parameter?

[code]
There are other more xomplex examples where it will be useful to use or reuse translations on the page, using a varialble.

[2017-05-03 05:41] kropsi opened #29 "Some strange problem"
Strange experience. The following work for me:

[code]

It uses `{% t 'title' %}` to set a title

The following doesn't work

[code]

It throws:

[2017-05-07 14:28] Odame commented on #11
@lordnynex
Were you able to fix the issue? How did you do it? Cos here I find myself, stuck at the same error and I have no idea where the problem is, even with the --trace argument.

[2017-05-07 16:43] vwochnik commented on #11
@Odame do you have a test repository that I can see?

[2017-05-07 16:46] vwochnik commented on #29
Do you have blog posts? If you leave the `if` statement away, then you must have defined a language `subset` for every page/post that you have. Otherwise the `title` key will not be found.

[2017-05-07 16:51] vwochnik commented on #28
No way to check for existence of keys yet. I don't see the use case as the list of translations is known. Maybe you can check if a custom `title` has been set in the front-matter and only otherwise use the `title` translation like you have shown in the other issue.

But you can assign a translation to a variable:

[code]

After you have done that you can use that variable inside an `if` statement

[2017-05-07 16:51] #28 closed, assigned to nobody

[2017-05-07 16:52] vwochnik commented on #29
I have commented in the other issue you have opened.

[2017-05-07 16:52] #29 closed, assigned to nobody

[2017-06-19 12:50] bstarr322 opened #30 "Error: different prefix: "/""
Hi there !

Thanks for this plugin.
At the moment, I am configuring multi language for our Jekyll based project, so I cloned this example repo and tried to launch on my windows local.

After bundle install, when I run `bundle exec jekyll serve`, it says the following errors.
`$ bundle exec jekyll serve
Configuration file: E:/projects/jekyll/jekyll-language-plugin/example/_config.yml
            So

[2017-12-21 22:26] jimmymcpeter opened #32 "Links always point back to first language"
I'm trying to use the link tag outlined here - https://jekyllrb.com/docs/templates/#link

[code]

The problem I'm finding is when viewing my `fr-ca` page, the hyperlink always points back to the first language I setup, `en-us`.  Both hyperlinks always equal `http://localhost:4000/en-us/support/`.  Do you have any recommendations on this?

[2018-01-19 13:10] espen commented on #7
@vwochnik is it possible to link to a localized URL when using the setup as described [on the wiki](https://github.com/vwochnik/jekyll-language-plugin/wiki/YAML-front-matter#urls-and-permalinks)? Using link doesn't work as described in #32

[2018-01-19 13:14] espen commented on #32
In my case it doesn't always point to the first language, it seems like it randomly uses a language. So some links are generated as 'en/page' while others are 'nb/side'. Or perhaps randomly is not the correct description as it seem to select the same language url constantly across pages/languages and server restart, so one link is always 'en' while another is always 'nb'.

[2018-01-20 16:32] espen commented on #32
I ended up creating a plugin that solves this. So instead of using the standard 'link' I use 'link_lang'. https://gist.github.com/espen/641d14891999a22060af1079fd46bf9d

[2018-01-27 20:49] alexandre1985 opened #33 "error in the having footer translated"
I am trying to use your plugin for my website language support.
I have read the wiki, looked and copy the examples code and still I can figure out where am I doing wrong with the beggining of my code.
When building I get this error:

jekyll 3.6.2 | Error:  No language specified for current page or post.

I have published my code for better helping support. Please do a:
`git clone https://github.co

[2018-02-04 03:03] faziloub commented on #33
i have same issue with home page tittle and description

[2018-04-07 14:36] vwochnik commented on #33
I cannot clone your repository.

[2018-04-07 14:36] #33 closed, assigned to nobody

[2018-04-07 14:40] vwochnik commented on #32
The `{% link %}` tag does not recognize the language plugin. You have to build the URL yourself.

[code]

[2018-04-07 14:40] #32 closed, assigned to nobody

[2018-04-07 14:42] vwochnik commented on #22
If you have language-specific stuff in the `post` layout, you have to specify a language for every post, otherwise the site stops working.

[2018-04-08 18:23] alexandre1985 commented on #33
It had some mistake on my part. Sorry and thank you

[2018-04-13 09:42] vwochnik commented on #30
Try the current version of Jekyll.

[2018-04-13 09:42] #30 closed, assigned to nobody

[2018-06-15 07:34] houmie opened #34 "No folder generated"
Hello,

Thanks for the work put here. There aren't many localization projects for Jekyll out there.

I have problems getting started though.

I have ```gem 'jekyll-language-plugin'``` in my Gem file.

I added these two lines to the bottom of _config.yml
[code]

_layouts/home.html

[code]

However no file/folder is generated for me when I run:

```bundle exec jekyll serve```

What am I missing plea

[2018-08-22 14:07] Mekala-palaniyappan commented on #1
Hi @vwochnik ,
I have checked your plugin. Looks better than others and also easy to understand. I have to ask one thing - Is there any update in setting a default language for a site? What I need is exactly the one described in [#18](https://github.com/vwochnik/jekyll-language-plugin/issues/18)
Thanks in advance.
Happy coding!!!!

[2018-10-19 13:19] martinpesout opened #35 "Multidomain setup"
I need to publish every language version on different domain (eg.: example.com, example.nl, example.fr). What is the correct way how to setup this plugin? Or is there any way how to achieve that with this plugin? 😄

Simple example: `index.html` for `en`, `nl`, `fr` languages.

Output will be placed into `/en/index.html`, `/nl/index.html` and `/fr/index.html`. If I use this solution https://github.

[2018-12-05 19:05] helmutgranda opened #36 "Is there a way to support Chinese Simplified (zh-CN) and Chinese Traditional (zh-TW)?"
I would imagine it is just a matter of adding the extra translations but I do not want to over simplify it. Also, if that is all is needed I can start the work and submit a PR but I want to confirm that is the best way to tackle this issue.

[2019-03-08 03:09] z3nth10n commented on #1
No longer needed redirects. Just check #37.

[2019-09-13 18:04] Melissa-Lima opened #38 "How to translate my Includes?"
Hello!
I am having problems in translating my includes...
I do exactly as I do in pages: put the vector of languages and which languages I want to translate.
That's the front matter of my includes:

---
languages:
   - pt
subset: metrics
---

That's my pt.yml file:
![image](https://user-images.githubusercontent.com/39806633/64884374-f8f71b00-d637-11e9-9156-3eb4f6691373.png)

That's the error I get

[2019-09-13 18:11] #38 closed, assigned to nobody

[2020-05-14 23:28] dannyboyer opened #39 "Is there a way to filter the output of the t tag?"
Is there a better way to do that?
I am adding the upcase filter on the translation.
`{% capture output %}{% t 'nav.home' %}{% endcapture %}{{ output | upcase }}`

[2021-01-08 16:02] espen opened #40 "Slug must be first in yaml when using links / InvalidURIError"
Posting here because I am unable to replicate this issue using just using yaml in a page with pure Jekyll.

The following works:

[code]

While this gives error:

[code]

The error is ` Invalid scheme format: *text* <a href="https (Addressable::URI::InvalidURIError)`.

Is there perhaps something with how this plugin parses the yaml that could result in this?

[2021-03-15 21:00] espen commented on #40
Probably not the best solution but sorting the hash fixes it for me: https://github.com/espen/jekyll-language-plugin/commit/bc90abc17c1c97141862c4d9a564aa52bd2a8da0

[2021-05-13 19:59] marie-bnl commented on #1
I still think it would be great to have a languages fallback system. Having this

[code]

would be greatbut something even better would be to also be able to get the french title if it doesn't exist in english.

However it would already be great to have it working for english as fallback

[2022-05-06 16:28] espen commented on #1
@git-no that's neat but does not work when using multiple language files.